body { 
  color: #333; 
  background: #D9D7D0 url(/img/grid.png) 0 0 repeat; 
}

#brand {
  margin: 0 0 0 0;
  padding: 14px 0 0 30px;
}

#brand a { 
  color: #333;
  font-size: 48px; 
  font-family: "Coda";
  text-decoration: none;
  margin-left: 10px;
}
#brand a:hover { color: #444; }

#search {
  width: 400px;
  height: 0;
  position: relative;
  left: 652px;
  bottom: 50px;
  opacity: 0.7;
}

#search .select2-container { width: 100%; }
#search .select2-input { padding: 4px 0 4px 10px; }
#search .select2-search-choice-close { margin-top: -2px; }

#posts {
  width: 1200px;
  margin-left: 10px;
}

#posts .post:first-child { margin-top: 0; }

.post {
  /* border-top: 2px solid #AAA; */
  margin: 12px 0;
  padding-top:14px;
  float: left;
}

.post h2 a {
  text-decoration: none;
  color: #333;
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

.post h3 { margin-top: 30px; }

.post table {
  width: 100%;
}

.post .left {
  width: 200px;
  float: left;
  padding: 20px;
}

.post .meta {
  font-family: 'Varela';
  font-size: 16px;
}

.post .right {
  width: 760px;
  padding: 20px;
  float: left;
  font-size: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #FFF;
  border: 1px solid #CCC;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

.post .right pre {
  font-size: 16px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.post .right h2 { font-size: 20px; }
.post .right p { line-height: 27px; font-size: 16px; }

.post .right .highlight {
  font-size: 16px !important;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 4px 10px; 
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

pre .lineno {
  margin-right: 8px;
}

.tag {
  padding: 2px 6px;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;

  vertical-align: baseline;
  white-space: nowrap;
  color: #f4f4f4;
  background-color: #999999;
  background-color: #3a87ad;

  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

  font-family: 'Helvetica', 'Arial';
}

a.tag:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#disqus_thread {
  margin-top: 80px;
}

#archive {
  width: 800px;
  margin-left: 210px;
  padding: 20px;
  padding-bottom: 40px;
  float: left;
  font-size: 14px !important;
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #FFF;
  border: 1px solid #CCC;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

.entry { width: 100%; line-height: 200%; }
.entry a { float: left; font-size: 20px; }
.entry time { float: right; font-size: 16px; }
.entry .tag {
  display: none; 
  margin: 4px 8px 0 0;
  font-size: 10px;
  opacity: 0.5;
}
#archive h2 {
  height: 0;
  padding: 20px 0 0 0;
  margin: 0; 
  position: relative; 
  right: 100px; 
  font-size: 24px;
}

#archive hr {
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid #ccc;
  margin: 1em 0; 
  padding: 0; 
}

.clear { clear: both; }

