body {
  margin: 40px auto;
  max-width: 900px; 
  font-size: 18px; 
  color: #444; 
  font-family: Helvetica;
  line-height: 1.4;
}

h1,h2,h3 { line-height: 1.2 }
pre { white-space: pre-wrap; }

/* Header */
header nav { text-align: center; }
nav ul { list-style: none; }
nav li { display: inline-block; }

header nav a , nav a:visited {
  color: #555;
  text-decoration: none;
}

header nav h1 {
  font-family: monospace;
  font-size: 3em;
  letter-spacing: 0.4em;
}

/* Posts */
article {
  padding-bottom: 30px;
  margin-bottom: 80px;
  border-bottom: 3px solid rgba(204, 204, 204, 0.3);
}

article h2 a {
  text-decoration: none;
}
