body {
  margin: 40px auto;
  max-width: 900px; 
  font-size: 18px; 
  color: #444; 
  font-family: Helvetica;
  line-height: 1.4;
}

h1,h2,h3 {
  line-height: 1.2
}

pre {
  white-space: pre-wrap;
}

.brand {
  color: #555;
  font-family: monospace;
  line-height: 50px;
  font-size: 50px;
  letter-spacing: 50px;
  position: relative;
  display: inline-block;
  margin: 0;
}

.brand::after {
  content: "";
  top: 0;
  right: -15px;
  width: 24px;
  height: 50px;
  vertical-align: top;
  position: absolute;
  display: inline-block;
  background-color: #606060;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

article {
  padding-bottom: 30px;
  margin-bottom: 80px;
  border-bottom: 3px solid #CCC;
}
