---
layout: default
---

<div id="posts">
  <div class="post">
    <div class="left">
      <p>Posted on <b>{{ page.date | date_to_string }}</b></p>
      {% for tag in page.tags %}
      <a class="label">{{ tag }}</a>
      {% endfor %}
    </div>
    <div class="right">
      <h2>{{ page.title }}</h2>
      <p>{{ content }}</p>
      <div id="disqus_thread"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var disqus_shortname = 'segv';
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>

